input[type=checkbox] {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
}

.form-check-label { margin-left: 5px; }